<header class="navbar navbar-static-top docs-nav" id="top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="{{ '/' | relative_url }}" class="navbar-brand">Thunder</a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li{% if page.slug == "tutorials" %} class="active"{% endif %}>
          <a href="{{ '/tutorials' | relative_url }}">Tutorials</a>
        </li>
        <li{% if page.slug == "docs" %} class="active"{% endif %}>
          <a href="{{ '/docs' | relative_url }}">Documentation</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <!-- <li><a href="{{ site.expo }}" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Expo');">Expo</a></li> -->
        <!-- <li><a href="{{ site.blog }}" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Blog');">Blog</a></li> -->
      </ul>
    </nav>
  </div>
</header>
