body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: $text-color;
}

.docs-nav {
  .navbar-brand, .navbar-nav > li > a {
    color: $link-color;
    font-weight: 500;
  }

  .navbar-nav {
    &>.active>a,
    &>.active>a:hover,
    &>li>a:hover {
      color: $active-color;
      background-color: $superlight-gray;
    }
  }

  .navbar-toggle {
    .icon-bar {
      background-color: $link-color;
    }
  }
}

.navbar-brand {
  font-size: 20px;
}

.affix {
  top: 50px;
}

.docs-sidebar {
  .nav > li > a {
    display: block;
    padding: 4px 20px;
    font-size: 15px;
    font-weight: 500;
    color: $gray;
  }
  .nav > .active {
    & > ul {
      @media (min-width: 992px) {
        display: block;
      }
    }
    & > a, &:hover > a, &:focus > a {
      padding-left: 18px;
      font-weight: 700;
      background-color: transparent;
      border-left: 2px solid $link-color;
      color: $link-color;
    }
  }

  .nav .nav {
    // This hides subsections, until scrolled into the parent section
    // display: none;
    & > li > a {
      padding-top: 1px;
      padding-bottom: 1px;
      padding-left: 30px;
      font-size: 14px;
      font-weight: 400;
    }
  }
}

.back-to-top {
    display: none;
    padding: 4px 10px;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 12px;
    font-weight: 500;
    color: $light-gray;

    @media (min-width: 768px) {
      display: block;
    }
}

.docs-footer {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 100px;
  color: $light-gray;
  text-align: center;
  background-color: #2a2730;

  @media (min-width: 768px) {
    text-align: left;
  }
}
